.wrap {
    background-color: #666;
    margin: auto;
    width: 100%;
}

.square {
    width: 29%;
    height: 0;
    padding-bottom: 29%;
    background: yellow;
    border-radius: 10%;
    float: left;
    margin: 5px;
}
